@model Order

<h2>Create New Order</h2>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="GovernorateId" class="control-label"></label>
        <select asp-for="GovernorateId" asp-items="ViewBag.Governorates" class="form-control">
            <option value="">Select a Governorate</option>
        </select>
        <span asp-validation-for="GovernorateId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CityId" class="control-label"></label>
        <select asp-for="CityId" asp-items="ViewBag.Cities" class="form-control">
            <option value="">Select a City</option>
        </select>
        <span asp-validation-for="CityId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label class="control-label">Products</label>
        <select multiple name="productIds" class="form-control">
            @foreach (var product in ViewBag.Products as List<Product>)
            {
                <option value="@product.Id">ID : @product.Id  (Name : @product.Name)  (Price :  @product.Price)</option>
            }
        </select>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}